.colors-block {
	height: 200px;
	width: 200px;
	border: 1px solid black;
}

.block {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin-top: 20px;
}

.block2 {
	height: 150px;
	width: 150px;
	border: 1px solid black;
}

.block-extend {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin-top: 20px;
	background-color: orange;	
}

.block-background {
	background-color: grey;
}

.blockBackgroundImportant {
	background-color: grey !important;	
}


.bottom-line {
	height: 100px;
	border-bottom: 1px solid black;
	margin: 20px 50px 0 50px;
}

.bottom-line2 {
	height: 100px;
	border-bottom: 1px solid black;
	padding-left: 40px;
	padding-right: 40px;
}

.bottom-line3 {
	height: 100px;
	background-color: orange;
	margin-top: 20px;
}

.line {
	border-bottom: 1px solid black;
	margin: 0 40px 0 40px;
}










